body,html{
    height:100%;
    margin:0;
    padding:0; 
    font-family: Arial, Helvetica, sans-serif;
    display:block;
    flex-direction: column;

}


#search {
    border-color:white;
    /* color: blue; */
    outline-color: black;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    

}

.acontainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    
}

.navbar {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: aqua;
    padding: 1rem;

}

.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

.navbar-links li {
    display: inline;

}

.navbar-links a {
    text-decoration: none;
}

#aformid {
    margin:auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
}

.acentered-container {
    margin: auto;
    width: fit-content;
}

input[type="submit"] {
    display: block;
    margin: 0 auto 10px auto;
}

input[type="text"] {
    width: 350px;
}

.searchbox{

    /*border: solid 1px; */

    
    border-radius: 20px;
    height: 30px;
    width: 100%;
    outline-style:none;
    box-shadow: none;
    border-color: black;
    background-color:white;
    align-items: center;

}

.searchbox2{

    /*border: solid 1px; */


    border-radius: 20px;
    height: 30px;
    width: 100%;
    margin: 2px;
    outline-style:none;
    box-shadow: none;
    border-color: black;
    background-color:white;
    text-align: center;
    

}

.searchbox:hover {
    box-shadow: 0 0 2px 2px #cacaca;

}

.searchbox2:hover {
    box-shadow: 0 0 2px 2px #cacaca;

}

#search-button {
    margin-bottom: 10px;
    margin-top: 15px;
    padding-top: 3px;
    align-self: center;

}

#search2-button {
    margin-bottom: 10px;
    margin-top: 15px;
    padding-top: 3px;
    align-self: center;

}
